# Python
__pycache__/
*.pyc
.venv/
.env

# Streamlit
.streamlit/

# Local data & DB
data/
sample_data/
!sample_data/
sample_data/*
!sample_data/peru_weekly_sales_3y_by_region.csv
!sample_data/peru_regions_meta.csv
!sample_data/peru_regions_boundaries.geojson
*.db

# OS
.DS_Store
